*{
	margin: 0;
	padding: 0;
}
#wrapper{
	font-size: 18px;
	width: 960px;
	margin: 0 auto;
	background: #ededee;;
	padding: 10px
}
.content{
	width: 96%;
	background-color: #fff;
	margin: 10px auto;
	padding: 8px;
	box-shadow: 1px 1px 10px #95a5a6;
}
.content h2{
	font-size: 22px;
	color: #3498db;
	padding: 5px;
}
ul{
	margin: 20px 0 0 0;
	text-align: center;
}
ul>li{
	display: inline;
	list-style: none;
	margin: 4px;
	font-size: 18px;
}
ul>li.disable{
	display: none;
}
ul>li>span.active{
	color: #fff;
	background-color: #95a5a6;
	padding: 5px;
	text-decoration: underline;
}
ul>li>a{
	background: #3498db;
	text-decoration: none;
	padding: 5px;
	color: #fff;
}
ul>li>a:hover{
	background-color: #95a5a6;
	text-decoration: underline;
}

